*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
*.xml___jb_tmp___
/.idea/*
app/src/test/java/hr/maskice/maskicehr/ExampleUnitTest.java
app/src/test/java/hr/maskice/maskicehr/ExampleUnitTest.java
app/src/androidTest/java/hr/maskice/maskicehr/ExampleInstrumentedTest.java
